/* All styles for your header Components live here */

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.lambdaLogo {
  max-width: 80px;
  width: 100%;
  height: 80px;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.handle-date {
  color: gray;
  margin-bottom: 0;
}

.headerP {
  margin: 10px 20px;
}

.titleh2 {
  margin: 0 20px;
}